<app-count-empleados [todos]="getEmpleados()" [masculino]="getMasculinos()" [femenino]="getFemeninos()"
    (radioButton)="generoSeleccionado($event)">
</app-count-empleados>

<app-charts [salaries]="salaries" [labels]="labels"></app-charts>

<div class="card mt-4 mb-4">
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Genero</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let empleado of listEmpleados | paginate: {itemsPerPage:pagination.pageSize, currentPage: pagination.page, totalItems: pagination.count};">
                    <tr *ngIf="generoSelec === 'Todos' || empleado.genero === generoSelec">
                        <td>{{ empleado.legajo }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.genero }}</td>
                        <td>{{ empleado.salario }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-6">
                <pagination-controls responsive="true" previousLabel="Back" nextLabel="Next" (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
            <div class="col-md-6">
                Items per page:
                <select (change)="onPageSizeChange($event)">
                    <option *ngFor="let size of pagination.pageSizes" [ngValue]="size">
                        {{size}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>